<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>🎥¡Bienvenido a Pipoca!🍿</title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="container py-5">
      <h1 class="display-4 text-center">🎬 ¡Hola! 🍿</h1>
      <p class="text-center">Por favor, ingresa tu nombre para continuar.</p>
      <form method="POST" class="d-flex justify-content-center">
        <input type="text" name="username" class="form-control w-50" required placeholder="Ingresa tu nombre">
        <button type="submit" class="btn btn-primary ms-3">Ir a mi perfil</button>
      </form>
    </div>
  </body>
</html>
